*{margin: 0px;}
body {
  margin:0px;
  background: #f7f7f7 url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  color: #000000;
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, a:visited {
  color: #000000;
}

h1, h2 {
  text-align: center;
}

.hidden {
  display: none !important;
}

#installContainer {
  position: fixed;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

#installContainer button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #444;
  
  padding: 0.5em;
  width: 95%;
  text-align: left;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 95%;
  height: 20%;
  border: 1pz solid #aaa;
  border-radius: 10px;
}
  
.content p{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
}
.content a{
  color: #fff;
  text-decoration: none;
}
